$primary: #7944E6;
$secondary: #5B428C;
// $body-bg: #261C3B;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

$utilities: map-merge(
	$utilities,
	(
		'width': (
		property: width,
		class: w,
		responsive: true,
		values: (
			25: 25%,
			33: 33%,
			50: 50%,
			66: 66%,
			75: 75%,
			100: 100%,
			auto: auto,
		),
		),
	)
);

$theme-colors: map-merge($theme-colors, (
	"primary": $primary,
	"secondary": $secondary
));

html {
	scroll-behavior: smooth;
}

@import "~bootstrap/scss/bootstrap";